@using JustDanceAcademy.Web.ViewModels.Models


@model IEnumerable<MyClassViewModel>




<link href="~/Content/css/class-box.css" rel="stylesheet" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">


<hr />
<div id="container">
	@if (Model == null)
	{
		<h2>Your body will become more flexible. You will feel more confident on the dance floor. You will feel music better.</h2>
		<h3>Feel the rthym in you! <a asp-area="" asp-controller="Class" asp-action="Classes" class="site-btn2">START NOW</a></h3>
	}
	else
	{

		@foreach (var item in Model)
		{

			<!-- Start	Class details -->
			<div class="product-details">
				<!-- 	Class Name -->
				<h1>@item.Name</h1>
				<!-- The most important information about the product -->
				<p class="information"> Category : "@item.Category"</p>

				<p class="information">"@item.Description"</p>

				<form class="input-group-sm" asp-controller="Class" asp-action="LeaveClass" asp-route-classId="@item.Id">
					<input class="fs-6 btn btn-success mb-3 p-2" style="padding:5px" onclick="return confirm('You are going to leave a @item.Name Dance-class')" type="submit" value="Leave Class" />
				</form>
				<br>
				@if (item.PlanPrice == 0)
				{
					<button>
						<ul>
							<a asp-area="" asp-controller="Class" asp-action="Plans">Get-Paid </a>
						</ul>
					</button>
				}
				else
				{
					<p class="information"> You paid  <b>@item.PlanPrice</b> $ -  for  <b>@item.AgeType</b> age-category</p>
				}
				<hr />
				<button>
					<ul>
						<a asp-area="" asp-controller="Class" asp-action="WriteReview" asp-route-classId="@item.Id">Add-Review </a>
					</ul>
				</button>

			</div>

			<div class="product-image">

				<img src="@item.ImageUrl" alt="Omar Dsoky">

			</div>

			

		}
	}
</div>


<link rel="stylesheet" href="~/Content/css/my-class.css" asp-append-version="true">


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
	var msg = '@TempData["Msg"]';
	if (msg.length) {
		//swal(msg,"success");
		swal({
			text: msg,
			icon: "info",
			button: "Ok",
		});
	}
</script>




