@using JustDanceAcademy.Data.Models;

@model IEnumerable<Schedule>

@inject IEnumerable<Class> Class

<link rel="stylesheet" href="~/Content/css/table.css" media="screen">

<div class="row">
	@{

		var list = new List<string>();
		var current = new Class { };
		var first = false;
		
	}
	<section>
		@foreach (var item in Model)
		{
			if (list.Contains(item.Class.Name) == false)
			{
				current = item.Class;
				list.Add(item.Class.Name);

				<h1 style="margin-top:50px">@item.Class.Name</h1>
				<div class="tbl-header">
					<table cellpadding="0" cellspacing="0" border="0">
						<thead>
							<tr>
								<th>Day</th>
								<th>Start Train- End Train</th>
								<th>Category</th>
								<th>Instructor</th>
								<th>Age</th>
							</tr>
						</thead>
					</table>
				</div>
			}
			
				<div class="tbl-content">

					<table cellpadding="0" cellspacing="0" border="0">
						<tbody>

							<tr>
								<td>@item.Day</td>
								<td>@item.StartTime.ToShortTimeString() - @item.EndTime.ToShortTimeString() </td>
								<td>@current.LevelCategory.Name</td>
								<td>@current.Instructor</td>
								<td>@item.Age</td>
							</tr>

						</tbody>
					</table>
				</div>
			



		}
	</section>
</div>

<!--for demo wrap-->
<!-- follow me template -->
<div class="made-with-love">
	Made with
	<i>♥</i> by
	<a target="_blank" href="https://codepen.io/nikhil8krishnan">Nikhil Krishnan</a>
</div>

<script>
	// '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
	$(window).on("load resize ", function () {
		var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
		$('.tbl-header').css({ 'padding-right': scrollWidth });
	}).resize();
</script>