@using JustDanceAcademy.Models;
@model ClassesViewModel

@{
	ViewData["Title"] = "Class-Details";
}

<h1 style="text-align:center">@ViewData["Title"]</h1>


<link href="~/Content/css/class-box.css" rel="stylesheet" />

<div id="container">
	<!-- Start	Class details -->
	<div class="product-details">
		<!-- 	Class Name -->
		<h1>@Model.Name for category @Model.Category</h1>

		<p class="information">with Instructor : "@Model.Instructor"</p>
		<br />
		<br />
		<!-- The most important information about the product -->
		<p class="information">"@Model.Description"</p>
	</div>

	<div class="product-image">

		<img src="@Model.ImageUrl" alt="Omar Dsoky">
	</div>
	<div id="servermsg">
		<ul id="msglist">
		</ul>
	</div>
</div>

