@using JustDanceAcademy.Data.Models;


@model IEnumerable<Instrustor>


<div class="container bootstrap snippets bootdey">
	<div class="row">
		<div class="panel panel-default widget">
			<div class="panel-heading">

				<h3 class="panel-title" style="font-size:25px">
					Instructors Of Dance-Classes
				</h3>
				<span class="label label-info" style="font-size:21px">
					<!--InstructorsCount-->
					Total. - @Model.Count()
				</span>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					@foreach (var person in Model)
					{
						<li class="list-group-item">
							<div class="row">
								<div class="col-xs-2 col-md-1">
									<img src="@person.ImageUrl" class="img-circle img-responsive img-user" alt="dance" />
								</div>
								<div class="col-xs-10 col-md-11">
									<div>
										<a>
											@person.Name
										</a>
										<div class="mic-info">
											Trainer at : <a href="#">@person.Class.Name</a>

										</div>
									</div>
									<div class="comment-text">
										@person.Biography
									</div>
									<button class="button" style="margin-bottom:5px">
										<ul>
											<i class="fa fa-pencil-square"></i>
											<a asp-area="Administration" asp-controller="Instructor" asp-action="Edit" asp-route-id="@person.Id">Edit</a>

										</ul>

									</button>
									
									<form class="mt-2" asp-area="Administration" asp-controller="Instructor" asp-action="ShowAllClasses" asp-route-classId="@person.Class.Id">
										<div class="d-grid gap-2" style="margin-bottom:5px">

											<input type="submit" value="Show Dance Categories"
											   class="btn btn-danger mb-2" />
										</div>
									</form>


									<form class="mt-2" asp-area="Administration" asp-controller="Instructor" asp-action="Delete" asp-route-id="@person.Id">
										<div class="d-grid gap-2">

											<input type="submit" value="Delete"
											   class="btn btn-danger mb-2"
											   onclick="return confirm('You are going to delete :@person.Name')" />
										</div>
									</form>

									@*<form class="input-group-sm" asp-controller="Class" asp-action="LeaveClass" asp-route-classId="@item.Id">
								<input class="fs-6 btn btn-success mb-3 p-2" onclick="return confirm('You are going to leave a @item.Name Dance-class')" type="submit" value="Leave Class" />
								</form>*@
								</div>
							</div>
						</li>

					}

				</ul>

				<!--USE FOR SOMETHING-->
				@*<a href="#" class="btn btn-info btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>*@
			</div>
		</div>
	</div>
</div>

<style>
	body {
		padding-top: 30px;
		background: #eee;
	}

	.widget .panel-body {
		padding: 0px;
	}

	.widget .list-group {
		margin-bottom: 0;
	}

	.widget .panel-title {
		display: inline;
	}

	.widget .label-info {
		float: right;
	}

	.widget li.list-group-item {
		border-radius: 0;
		border: 0;
		border-top: 1px solid #ddd;
	}

		.widget li.list-group-item:hover {
			background-color: rgba(86, 61, 124, 0.1);
		}

	.widget .mic-info {
		color: #666666;
		font-size: 11px;
	}

	.widget .action {
		margin-top: 5px;
	}

	.widget .comment-text {
		font-size: 12px;
	}

	.widget .btn-block {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	.img-user {
		width: 80px;
		height: auto;
	}
</style>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
	var msg = '@TempData["Msg"]';
	if (msg.length) {
		//swal(msg,"success");
		swal({
			text: msg,
			icon: "info",
			button: "Ok",
		});
	}
</script>

