@using JustDanceAcademy.Models

@model LoginViewModel

@{
	ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<br>
<br>
<div class="cont">
	<div class="sub-cont">

		<div class="img">
			<div class="img__text m--up">

				<h3>
					Don't have an account? Please <a class="m--in" href='@Url.Action("Register", "Account")'>
						<input type='button' value='SIGN UP' />
					</a>
				</h3>
			</div>
		</div>
	</div>
	<form asp-controller="Account" asp-action="Login" id="loginForm" method="post">
		<div class="form sign-in">
			<h2>Welcome</h2>
		
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<label>
				<i class="fa fa-user" aria-hidden="true"></i>
				<input asp-for="UserName" class="form-control" placeholder="Username">
				<span asp-validation-for="UserName" class="small text-danger"></span>
			</label>
			<label>
				<i class="fa fa-key" aria-hidden="true"></i>
				<input asp-for="Password" class="form-control" placeholder="Password">
				<span asp-validation-for="Password" class="small text-danger"></span>
			</label>
			<!-- /.col -->
			<div class="col-4">
				<button type="submit" style="margin-top:40px;margin-bottom:20px;background:#d4af7a;text-transform:uppercase">Sign In</button>
			</div>
		</div>

	</form>
</div>

@*STYLE-SHEET FOR LOG-REGISTER <---*@
<link rel="stylesheet" href="~/Content/css/form.css" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
	var msg = '@TempData["Msg"]';
	if (msg.length) {
		swal(msg);
	}
</script>





<script>
	document.querySelector('.img__btn').addEventListener('click', function () {
		document.querySelector('.cont').classList('s--signup');
		document.querySelector('.s--signup').classList('cont');
	});
</script>
<style>
	button {
		display: block;
		margin: 0 auto;
		width: 260px;
		height: 36px;
		border-radius: 30px;
		color: #fff;
		font-size: 15px;
		cursor: pointer;
	}
</style>

@section Scripts{
	<partial name="_ValidationScriptsPartial.cshtml" />
	}

	@*	<div class="input-group mb-3">
	<input asp-for="@Model.UserName" class="form-control" placeholder="UserName">
	<span asp-validation-for="@Model.UserName" class="small text-danger"></span>

	</div>
	<div class="input-group mb-3">
	<input asp-for="Password" class="form-control" placeholder="Password">
	<span asp-validation-for="Password" class="small text-danger"></span>

	</div>
	<div class="row">

	<!-- /.col -->
	<div class="col-4">
	<button type="submit" class="btn btn-primary btn-block">Sign In</button>
	</div>
	<!-- /.col -->
	</div>*@
